@model KnowBetter_WebApp.Models.APIResultModel

@{
    ViewData["Title"] = "KnowBetter: Ingredient Details";
    
}
@section DetailsStyle{ 
<link rel="Stylesheet" href="~/css/Details_StyleSheet.css" />
}

<div class="Dbackground"></div>
<div>
    <h1>Ingredient Details</h1>
    <hr />
    <h2>
        @Html.DisplayFor(model => model.IngredientName)
    </h2>
</div>
<div>
    @if (Model.APILinks.Count > 0)
    {
        <h5>For more information, here are some links from Wikipedia similar to this ingredient:</h5>
    }
    else
    {
        <h5>Unfortunately, we couldn't find more information on this ingredient.</h5>
    }
<div class="flex-container">
        @for (int i = 0; i < Model.APILinks.Count; i++)
        {
            <div class="flex-item">
                <h3><a href="@Model.APILinks.ElementAt(i).LinkUrl">@Model.APILinks.ElementAt(i).LinkName</a></h3>
                @if (@Model.APILinks.ElementAt(i).LinkImage != "")
                {
                    <p><img src="@Model.APILinks.ElementAt(i).LinkImage" width="300" /></p>
                }      
            </div>
        }
    </div>
</div>
