@model KnowBetter_WebApp.Models.APIResultModel

@{
    ViewData["Title"] = "KnowBetter - Ingredient Details";
    
}
@section DetailsStyle{ 
<link rel="Stylesheet" href="~/css/Details_StyleSheet.css" />
}

<div class="Dbackground"></div>
<div>
    <h1>Ingredient Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Ingredient
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.IngredientName)
        </dd>
    </dl>
</div>
<div>
    <h5>
        For more information, here are some links from Wikipedia similar to this ingredient:
    </h5>

    @for (int i = 0; i < Model.APILinks.Count; i++)
    {

        if (@Model.APILinks.ElementAt(i).LinkImage != "")
        {
            <p> <img src="@Model.APILinks.ElementAt(i).LinkImage" width="300" /></p>
        }
        <p><a href="@Model.APILinks.ElementAt(i).LinkUrl">@Model.APILinks.ElementAt(i).LinkName</a></p>
    }

</div>
