@*
    @model IEnumerable<KnowBetter_WebApp.Models.User>
*@

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}
<h1 align="left">Welcome, @ViewBag.MyName</h1>

<h3><a href="@Url.Action("CompareProductSelect","Products")">Product Compare</a></h3>
<h3><a href="@Url.Action("IngredientLibrary","Ingredients")">Ingredient Library</a></h3>
<h3><a href="@Url.Action("EditProfile","Home")">Edit Profile</a></h3>
<h3><a href="@Url.Action("Logout","Home")">Logout</a></h3>
